@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops! It broke.</h1>
<h2 class="text-danger">Management would like us to remind you that the state of our website is in no way a reflection of the quality or sturdiness of our vehicles. Our cars are thoroughly inspected and approved as top quality vehicles!</h2>

